[submodule "temporal"]
	path = temporal
	url = https://github.com/AlbanAndrieu/my-temporal-dockercompose.git
[submodule "plumber-platform"]
	path = plumber-platform
	url = https://github.com/AlbanAndrieu/platform.git
[submodule "litellm"]
	path = litellm
	url = https://github.com/AlbanAndrieu/litellm.git
[submodule "reactive"]
	path = reactive
	url = https://github.com/AlbanAndrieu/reactive-resume.git
[submodule "n8n"]
	path = n8n
	url = https://github.com/AlbanAndrieu/n8n-hosting.git
[submodule "anything-llm"]
	path = anything-llm
	url = https://github.com/AlbanAndrieu/anything-llm
[submodule "sentry"]
	path = sentry
	url = https://github.com/AlbanAndrieu/sentry.git
[submodule "pgwatch"]
	path = pgwatch
	url = https://github.com/AlbanAndrieu/pgwatch
[submodule "langfuse"]
	path = langfuse
	url = https://github.com/AlbanAndrieu/langfuse.git
