---
# kics-scan ignore
services:
  # https://localai.io/installation/docker/
  # See https://localai.io/basics/getting_started/
  # cd ~/w/follow/LocalAGI
  # docker compose -f docker-compose.nvidia.yaml up
  # localai:
  #   # image: localai/localai:latest-aio-cpu
  #   # For GPU support, use one of:
  #   image: localai/localai:latest-aio-gpu-nvidia-cuda-13
  #   # image: localai/localai:latest-aio-gpu-nvidia-cuda-12
  #   # image: localai/localai:latest-aio-gpu-nvidia-cuda-11
  #   # image: localai/localai:latest-aio-gpu-hipblas
  #   # image: localai/localai:latest-aio-gpu-intel
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:8080/readyz"]
  #     interval: 1m
  #     timeout: 20m
  #     retries: 5
  #   ports:
  #     - 8080:8080
  #   environment:
  #     - DEBUG=true
  #   volumes:
  #     - ./models:/models:cached
  #   # For NVIDIA GPUs, uncomment:
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: 1
  #             capabilities: [gpu]

  dockge:
    image: louislam/dockge:1
    restart: unless-stopped
    ports:
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/dockge:/app/data
      - /opt/stacks:/opt/stacks
    environment:
      # Tell Dockge where to find the stacks
      - DOCKGE_STACKS_DIR=/opt/stacks

  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    ports:
      - 80:80
      - 443:443
    environment:
      - CF_API_EMAIL=${CF_API_EMAIL}
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}

    command:
      - "--log.level=DEBUG"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls.certResolver=cloudflare"
      - "--certificatesresolvers.cloudflare.acme.storage=acme.json"
      - "--certificatesResolvers.cloudflare.acme.email=yourcfemail@here.com"
      - "--certificatesResolvers.cloudflare.acme.dnsChallenge=true"
      - "--certificatesResolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
      - "--certificatesResolvers.cloudflare.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53"
      - "--serversTransport.insecureSkipVerify=true" # Or proxmox gives an error 500 due to its own self-signed cert

    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/acme.json:/acme.json

include:
  - path: pgwatch/docker/compose.postgres.yml
  # - path: pgwatch/docker/compose.pgpool.yml
  # - path: pgwatch/docker/compose.pgbouncer.yml
  # - path: pgwatch/docker/compose.grafana.yml
  # - path: pgwatch/docker/compose.pgwatch.yml
  # - path: pgwatch/docker/compose.pgadmin.yml
  # - path: pgwatch/docker/compose.prometheus.yml
  # - path: compose.postgres.yml
  # - path: compose.ntopng.yml
  # - path: compose.monitoring.yml
  - path: compose.tool.yml
  - path: compose.security.yml
  # - path: compose.truenas.yml
  # - path: compose.anythingllm.yml #nosec allow:gitleaks
  # - path: docker-compose-sentry.yml
  - path: reactive-resume/compose.yml
  # - path: plumber-platform/compose.local.yml

# # docker run -d -p 8000:8000 -p 9443:9443 --name portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer-ce:lts

# cd temporal
# docker compose -f compose-postgres.yml -f compose-services.yml up --detach
#
# docker run -d \
#   --name watchtower \
#   -v /var/run/docker.sock:/var/run/docker.sock \
#   containrrr/watchtower
#
# docker run -d \
#   -p 3001:3001 \
#   louislam/uptime-kuma

networks:
  proxy:
    external: true
